@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --var-trans-rec: rgba(166, 173, 181, 0.3);
    --var-button: #8B4513;
    --var-stroke: #A0522D;
    --var-select-col: rgb(166, 173, 181);
    --var-back-color: #d9d9d9;
    --var-text-color: #000000;
    --var-main-color: #4A4A4A;
    --var-tag-border: #542d12;
    --var-sub-font: 'Poppins', sans-serif;
    --var-main-font: "Oleo Script", serif;
}

body{
    font-family: var(--var-sub-font);
}

.prompt-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #4d2c20ee;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    .prompt-info{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;

        h1 {
            margin: 0;
        }

    }
    button{
        width: 150px;
        background-color: white;
        padding: 10px 25px;
        border: none;
        border-radius: 20px;
    }

}

.prompt-modal.hidden {
    opacity: 0;
    pointer-events: none;
}

.prompt-info {
    text-align: center;
}

.prompt-info button:hover {
    background: var(--var-button);
}
